<!-- BANNER -->
<div id="banner" class="navbar">
    <!-- Navbar section left empty here to make sure the navbar-center applies and puts its contents at the center -->
    <section class="navbar-section"></section>

    <!-- Actual banner content -->
    <section class="navbar-center">
        <div class="banner-center">
            <figure class="figure">
                <img class="img-responsive" src="/assets/images/Ark-slim.png" alt="ArkScript">
                <figcaption class="figure-caption navbar-brand">ArkScript</figcaption>
            </figure>
        </div>
    </section>
    <section class="navbar-section"></section>
</div>