<div class="off-canvas">

    <!-- off-screen toggle button -->
    <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar">
        <i class="icon icon-menu"></i>
    </a>

    <!-- table of content -->
    <div id="sidebar" class="off-canvas-sidebar">
        <ul class="nav">
            <li class="nav-item active">
                <a href="#">Table of contents</a>
                <ul class="nav">
                    {table_of_content_links}
                </ul>
            </li>
        </ul>
    </div>

    <a class="off-canvas-overlay" href="#close"></a>
</div>